* {
	margin: 0;
	padding: 0;
}

body {
	background: black;
	overflow-x: hidden 
}

#page_wrapper {
	width: 100%;
	height: 2036px;
}

#topnav {
	width: 1000px;
	height: 60px;
	margin-left: 18%;
	display: block;
	position: fixed;
	margin-top: 50px; 
	background: grey;
	opacity: 0.9;
	color: white;
	z-index: 3; 
}

#eyecon {
	width: 132px;
	height: 131px;
	padding-right: 10px;
	display: block;
	float: left;
	background: url('images/eyecon.png') no-repeat;
	transform: translateY(-29%);
    -webkit-transform: translateY(-29%);
}

ul {
	list-style-type: none;
	height: 100%;
	overflow: hidden;
}

	
li {
	height: 100%;
	display: block;
	float: left;
}

li a {
	height: 100%;
	width: 60px;
	padding: 18px 12px 0px 12px;
	text-decoration: none;
	text-align: center;
	color: white;
	display: block;
	font-size: 1.1em;
}

li a:hover {
	background: red;
	opacity: 0.95;
}

#bodywrapper {
	width: 1353px;
	height: 100%;
	margin: auto;
	background: url('images/bg_full.jpg') no-repeat top left;
}

#section_one {
	width: 100%;
	height: 50%;
}

#card {
	height: 100%;
	width: 100%;
	display: block;
	position: relative;
}

#hand {
	height: 150px;
    width: 196px;
    border-radius: 50%;
    position: absolute;
    top: 166px;
    left: 516px;
    background: url('images/hand_off.png');
}

#hand:hover {
	background: url('images/hand_on.png');
}

#key {
	height: 214px;
    width: 242px;
    border-radius: 40%;
    position: absolute;
    top: 335px;
    left: 1090px;
}

#key:hover {
	background: url('images/key_on.png');
}

#horse {
	height: 160px;
    width: 181px;
    border-radius: 50%;
    position: absolute;
    top: 450px;
    left: 256px;
    background: url('images/horse_off.png');
}

#horse:hover {
	background: url('images/horse_on.png');
}

#star {
	height: 234px;
    width: 277px;
    border-radius: 38%;
    position: absolute;
    top: 693px;
    left: 812px;
    background: url('images/star_off.png');
}

#star:hover {
	background: url('images/star_on.png');
}

#spillover {
	height: 398px;
	width: 172px;
	position: absolute;
	right: -172px;
    bottom: 372px;
	background: url('images/cardspillover.png') no-repeat;
}

#section_two {
	width: 100%;
	height: 50%;
}

#polaroids {
	height: 880px;
	width: 550px;
	float: left;
	position: relative;
}

#polaroid1 {
	width: 556px;
	height: 569px;
	background: url('images/polaroid1.png') top left no-repeat;
	position: absolute;
	bottom: 24px;
    right: 0;
    z-index: 2;
}

#polaroid2 {
	width: 530px;
	height: 545px;
	background: url('images/polaroid2.png') top left no-repeat;
	position: absolute;
	top: -111px;
    right: -65px;
    z-index: 1;
}

#notes {
	height: 880px;
	width: 757px;
	background: url('images/papers.png') no-repeat;
	float: left;
	position: absolute;
    right: 270px;
    bottom: -978px;
}

#notetext {
	transform: rotate(6deg);
    -webkit-transform: rotate(6deg);
    margin-top: 130px;
    margin-left: 302px;
}

#notes a {
	text-decoration: none;
	color: black;
	font-size: 2em;
}

#notelink1 {
	height: 90px;
	width: 377px;
	display: block;
	background: url('images/clickable_off.png') no-repeat;
}

#notelink1:hover {
	background: url('images/clickable_on.png') no-repeat;
}

#notelink2 {
	height: 64px;
    width: 366px;
    position: absolute;
    bottom: -619px;
    right: 80px;
    background: url('images/alsoclickable_off.png') no-repeat;
}

#notelink2:hover {
	background: url('images/alsoclickable_on.png') no-repeat;
}

#footer {
	width: 100%;
	height: 130px;
	background: grey;
	color: white;
}

#googlemap {
	width: 298px;
	height: 97px;
	padding: 15px;
	display: block;
	float: left;
	background: url('images/googmap.png') center no-repeat;
}

#footer > p {
	width: 22%;
	padding: 18px;
	display: inline-block;
	float: left;
}

@media screen and (max-width: 1362px) {
    body {
        overflow-x: auto;
    }
}