* {
	margin: 0;
	padding: 0;
}

body {
	background: black;
	overflow-x: hidden 
}

#page_wrapper {
	width: 100%;
	height: 2036px;
}

#topnav {
	width: 100%;
	height: 60px;
	display: block;
	position: fixed;
	margin-top: 50px; 
	background: grey;
	opacity: 0.9;
	color: white;
	z-index: 1; 
}

#eyecon {
	width: 132px;
	height: 131px;
	padding-right: 10px;
	display: block;
	float: left;
	background: url('images/eyecon.png') no-repeat;
	transform: translateY(-29%);
    -webkit-transform: translateY(-29%);
}

ul {
	list-style-type: none;
	height: 100%;
	overflow: hidden;
}

	
li {
	height: 100%;
	display: block;
	float: left;
}

li a {
	height: 100%;
	width: 60px;
	padding: 18px 12px 0px 12px;
	text-decoration: none;
	text-align: center;
	color: white;
	display: block;
	font-size: 1.1em;
}

li a:hover {
	background: red;
	opacity: 0.95;
}

#bodywrapper {
	width: 1353px;
	height: 100%;
	margin: auto;
	background: url('images/bg_full.jpg') no-repeat top left;
}

#section_one {
	width: 100%;
	height: 50%;
}

#card {
	height: 100%;
	width: 100%;
	display: block;
	position: relative;
}

#card a:hover {
	background: url('images/checkmark.png') top left no-repeat;
	background-size: contain; 
}

#hand {
	height: 146px;
    width: 164px;
    border-radius: 50%;
    position: absolute;
    top: 175px;
    left: 537px;
    opacity: 0.7;
}

#key {
	height: 191px;
    width: 221px;
    border-radius: 50%;
    position: absolute;
    top: 347px;
    left: 1101px;
    opacity: 0.7;
}

#horse {
	height: 160px;
    width: 181px;
    border-radius: 50%;
    position: absolute;
    top: 459px;
    left: 269px;
    opacity: 0.7;
}

#star {
	height: 225px;
    width: 248px;
    border-radius: 50%;
    position: absolute;
    top: 697px;
    left: 824px;
    opacity: 0.7;
}

#spillover {
	height: 398px;
	width: 172px;
	position: absolute;
	right: -172px;
    bottom: 372px;
	background: url('images/cardspillover.png') no-repeat;
}

#section_two {
	width: 100%;
	height: 50%;
}

#polaroids {
	height: 880px;
	width: 550px;
	float: left;
	position: relative;
}

#polaroid1 {
	width: 556px;
	height: 569px;
	background: url('images/polaroid1.png') top left no-repeat;
	position: absolute;
	top: 0;
	right: 0;
}

#polaroid2 {
	width: 530px;
	height: 545px;
	background: url('images/polaroid2.png') top left no-repeat;
	position: absolute;
	bottom: 0;
	left: 0;
}

#notes {
	height: 880px;
	width: 757px;
	background: url('images/papers.png') no-repeat;
	float: left;
	position: relative;
}

#notetext {
	transform: rotate(6deg);
    -webkit-transform: rotate(6deg);
    margin-top: 182px;
    margin-left: 388px;
}

#notes a {
	text-decoration: none;
	color: black;
	font-size: 2em;
}

#notes a:hover {
	color: blue;
}

#notelink2 {
	position: absolute;
	bottom: -449px;
    right: 190px;
}

#footer {
	width: 100%;
	height: 130px;
	background: grey;
	color: white;
}

#googlemap {
	width: 298px;
	height: 97px;
	padding: 15px;
	display: block;
	float: left;
	background: url('images/googmap.png') center no-repeat;
}

#footer > p {
	width: 22%;
	padding: 18px;
	display: inline-block;
	float: left;
}

@media screen and (max-width: 1362px) {
    body {
        overflow-x: auto;
    }
}