@font-face {
  font-family: Corki-Regular;
  src: url(../Corki-Regular.otf);
}

* {
  margin:0;
  padding:0;
}

body {
  overflow-x: hidden;
  background: black;
}

body, html {
  height: 100%;
  width: 100%;
}

/* Top Navigation Bar */
#navwrapper {
  height: 50px;
  width: 580px;
  position: fixed;
  z-index: 1;
  font-size: 1.7em;
}

#navbar{
  height: 300px;
  width: 700px;
  background: url("../images/DS-NavBar-01.png") no-repeat;
  background-size: contain;
  position: absolute;
  top: 10px;
  left: 10px;
}

#navbar a {
  color: black;
  text-decoration: none;
  font-family: Corki-Regular;
}

#navbar ul {
  height: 80%;
  width: 75%;
  list-style: none;
  margin-left: auto;
  text-align: center;
}

#navbar ul li {
  margin: auto;
  float: left;
  padding: 2px 10px;
}

/*Dot Navigation*/
#dotnavwrapper {
  height: 90px;
  width: 25px;
  position: fixed;
  top: 44%;
  right: 0;
  z-index: 1;
}

.dots {
  height: 14px;
  width: 14px;
  margin: 10px 3px 6px 1px;
  border: 2px solid white;
  border-radius: 50%;
  transition-duration: .2s;
}

.dots:hover {
  background: white;
  transition-duration: .2s;
}

/*Main Body*/
#wrapper {
  width: 1920px;
  height: 100%;
  overflow: hidden;
}

#innerwrapper {
  height: 100%;
  width: 300%;
  overflow: auto;
  background: url('../images/SITE_INDEX_1080_final.jpg') no-repeat;
}

/*.innerbox {
  height: 100%;
  width: 1920px;
  float: left;
}*/

/*#box1 {
  position: relative;
  background: slategrey;
}

#box2 {
  position: relative;
  background: olivedrab;
}

#box3 {
  position: relative;
  background: sienna;
}*/