@font-face {
  font-family: Corki-Regular;
  src: url(../Corki-Regular.otf);
}

@font-face {
  font-family: Corki-Tuscan;
  src: url(../Corki-Tuscan.otf);
}

* {
  margin:0;
  padding:0;
}

html {
  position: relative;
}

body {
  background: url('../images/BG-TILE.jpg');
  margin-bottom: 325px;
  overflow-x: hidden; 
}

@media screen and (max-width: 1300px) {
  body {
    overflow-x: auto;
  }
}

p {
  color: white;
  font-family: Arial;
  padding: 3px;
}

.fullwrapper {
  width: 1300px;
  margin: auto;
}

.mobile_back {
  display: none;
}

@media screen and (max-width: 680px) {
  .mobile_back {
    font-family: "Corki-Regular";
    font-size: 2.5rem !important;
    margin-top: 25px;
    display: block;
    text-align: center;
  }

  .book_now {
    margin: 15px 0;
  }
}

/* Top Navigation Bar */
#navwrapper {
  height: 50px;
  width: 580px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  font-size: 1.7em;
}

#navbar{
  height: 150px;
  width: 700px;
  background: url("../images/DS-NavBar-01.png") no-repeat;
  background-size: contain;
  position: absolute;
  top: 10px;
  left: 10px;
}

#navbar a {
  color: black;
  text-decoration: none;
  font-family: Corki-Regular;
}

#navbar a:hover {
  color: #e93738;
}

#navbar ul {
  height: 80%;
  width: 75%;
  list-style: none;
  margin-left: auto;
  text-align: center;
}

#navbar ul li {
  margin: auto;
  float: left;
  padding: 2px 10px;
}

/* FOOTER */
.subfooter {
  height: 325px;
  width: 100%;
  min-width: 1300px;
  position: absolute;
  bottom: 0;
  font-family: Corki-Tuscan;
  color: white;
  font-size: 1.2em;
  text-align: center;
  background-image: linear-gradient(rgba(5, 5, 5, 0), rgba(5, 5, 5, 1), rgba(5, 5, 5, 1));
}

#footer_wrapper {
  width: 278px;
  height: 150px;
  margin: auto;
  position: relative;
  top: 130px;
}

#footer_logo {
  height: 160px;
  width: 160px;
  display: inline-block;
  float: left;
  background: url('../images/DS-SiteLogo-02.png') no-repeat;
  background-size: contain;
}

.footer_text {
  display: inline-block;
  float: left;
  margin-top: 60px;
}

/* ABOUT */
#about_wrapper {
  position: relative;
}

#about_bottom {
  height: 610px;
  width: 1338px;
  overflow-x: hidden;
  background: url('../images/ABOUTbottom.png') no-repeat;
}

#about_left {
  height: 1954px;
  width: 762px;
  position: absolute;
  top: -240px;
  left: -288px;
  overflow-x: hidden;
  background: url('../images/ABOUTleft.png') no-repeat;
}

#about_right {
  height: 2025px;
  width: 901px;
  top: -140px;
  right: -275px;
  position: absolute;
  overflow-x: hidden;
  background: url('../images/ABOUTright.png') no-repeat;
}

.header, .header2 {
  font-family: Corki-Tuscan;
  color: white;
}

.header {
  height: 145px;
  width: 718px;
  margin: auto;
  text-align: center;
  font-size: 55px;
}

.header2 {
  height: 50px;
  width: 400px;
  margin: 20px 0 5px 0;
  padding-top: 13px;
  padding-bottom: 10px;
  font-size: 2.5em;
  background: url('../images/DS-LINES_1points-01-01.png') no-repeat, url('../images/DS-LINES_1points-01-01.png') bottom no-repeat;
  background-size: contain;
}

#about_header {
  margin: auto;
  height: 255px;
  width: 725px;
}

#about_header p {
  text-align: justify;
}

#header_one {
  height: 75px;
  width: 410px;
  margin-top: 100px;
  padding-top: 25px;
  background: url('../images/DS-LINES_2points-01.png') no-repeat, url('../images/DS-LINES_2points-01.png') bottom no-repeat;
  background-size: contain;
}

#expectwrapper {
  height: 800px;
  width: 50%;
}

#expect_left {
  margin-left: 142px;
}

#expect_left div p {
  text-align: justify;
  line-height: 19px;
  margin-bottom: 45px;
  margin-top: 5px;
}

#about_booking {
  margin: auto;
  margin-top: 30px;
  width: 850px;
  position: relative;
}

#about_booking_header {
  height: 88px;
  width: 605px;
  padding-top: 44px;
  background: url('../images/DS-LINES_2points-01.png') no-repeat, url('../images/DS-LINES_2points-01.png') bottom no-repeat;
  background-size: contain;
}

#history {
  margin: auto;
  margin-top: 45px;
  width: 850px;
  position: relative;
}

.history_header_text {
  display: inline-block;
  float: left;
  margin-top: 48px
}

#history_text_body p {
  padding: 1%;
  text-align: justify;
}

#history_logo {
  height: 155px;
  width: 160px;
  display: inline-block;
  float: left;
  background: url('../images/DS-SiteLogo-01.png') no-repeat;
  background-size: contain;
}

#history_text_body {
  clear: left;
}

#mobile_about {
  display: none;
}

@media screen and (max-width: 680px) {
  body {
    margin-bottom: 20px;
  }

  #mobile_about {
    display: inline-block;
    padding: 0 2.5%;
    text-align: center;
  }

  #mobile_about img {
    width: 100%;
  }

  #mobile_about img:first-child {
    width: 60%;
    margin-top: 10px;
  }

  #about_wrapper, .subfooter {
    display: none;
  }

  #header_one {
    margin-top: 0px;
    padding-top: 20px;
  }

  .mobile-about-wrapper .header2, .mobile-about-wrapper p, #about_booking_text {
    text-align: left;
  }

  .mobile-about-wrapper p:first-child {
    text-align: center;
  }

  #history_logo {
    width: 100%;
    background-position: center;
  }

  .header {
    width: 100%;
  }

  .history_header_text {
    float: left;
    margin-top: 0;
  }
}

/* FAQ */
#faq_fullwrapper {
  height: 100vh;
  min-height: 2000px;
  width: 1300px;
  margin: auto;
  position: relative;
}

#faq_header {
  height: 75px;
  width: 410px;
  margin-top: 100px;
  padding-top: 25px;
  background: url('../images/DS-LINES_2points-01.png') no-repeat, url('../images/DS-LINES_2points-01.png') bottom no-repeat;
  background-size: contain;
}

#faq_body {
  width: 1250px;
  height: 1500px;
  margin: 0 auto 25px auto;
  position: relative;
}

#faq_left {
  height: 1880px;
  width: 725px;
  position: absolute;
  top: 20px;
  left: -590px;
  background: url('../images/FAQleft.png') no-repeat top left;
  background-size: contain;
}

#faq_right {
  height: 1995px;
  width: 695px;
  position: absolute;
  top: -95px;
  right: -470px;
  background: url('../images/FAQright.png') no-repeat top right;
  background-size: contain;
}

.faq_row {
  width: 82%;
  height: 31%;
  margin: auto;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.faq_card {
  width: 285px;
  height: 390px;
  display: inline-block;
  margin: 3% 2.5%;
  position: relative;
  transition: 0.8s;
  transform-style: preserve-3d;
}

.faq_card:hover {
  -ms-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.card_q, .card_a {
  height: 100%;
  width: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.card_q {
  z-index: 2;
  -ms-transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}

.card_a {
  -ms-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

#faq_ask_card {
  height: 295px;
  width: 410px;
  margin: 40px auto;
  background: url('../images/FAQ_ask_OFF.png') no-repeat;
  background-size: contain;
}

#faq_ask_card:hover {
  background: url('../images/FAQ_ask_ON.png') no-repeat;
  background-size: contain;
}

#faq_ask_card a {
  display: block;
  height: 100%;
  width: 100%;
}

#mobile_faq {
  display: none;
}

@media screen and (max-width: 680px) {
  #faq_fullwrapper, .subfooter {
    display: none;
  }

  #mobile_faq {
    display: block;
    color: white;
    padding: 0 1%;
    text-align: center;
  }

  #faq_header {
    margin-top: 10px;
    height: 88px;
    width: 100%;
    padding-top: 10px;
  }

  a, a:focus, a:hover, a:active, a:visited {
    color: white;
    text-decoration: none;
  }

  h3 {
    font-family: Corki-Regular;
    border-bottom: 1px solid white;
  }

  #mobile-faq-wrapper {
    text-align: left;
  }

  .panel {
    font-family: arial;
    background: black;
    color: white;
  }

  .panel-body {
    border-top: none !important; 
    font-size: 1.5rem;
  }
}

/* ROOMS */
#rooms_wrapper {
  position: relative;
}

#rooms_topleft {
  height: 790px;
  width: 451px;
  position: absolute;
  top: 70px;
  left: -332px;
  background: url('../images/ROOMS_topLEFT.png') no-repeat;
}

#rooms_topright {
  height: 437px;
  width: 385px;
  position: absolute;
  top: -48px;
  right: -270px;
  background: url('../images/topRIGHT.png') no-repeat;
}

#rooms_header {
  width: 1300px;
  margin: auto;
}

#davinci_header {
  height: 574px;
  width: 1064px;
  margin: 44px auto 20px auto; 
  position: relative;
  left: 5px;
  background: url('../images/DAVINCI.png') no-repeat;
}

#room_icons {
  height: 161px;
  width: 994px;
  margin: auto;
  position: relative;
  left: 5px;
  background: url('../images/DAVINCI_ICONS.png') no-repeat;
}

#rooms_body {
  height: 100vh;
  min-height: 1200px;
  width: 500px;
  color: white;
}

#rooms_body_header {
  height: 82px;
  width: 467px;
  margin: 5px auto;
  background: url('../images/ROOMStitle.png') no-repeat;
}

#rooms_text {
  width: 100%;
  text-align: justify;
}

.rooms_text_points {
  font-size: 22px;
  font-weight: bolder;
}

#rooms_text p {
  padding: 8px;
}

#rooms_booknow {
  height: 47px;
  width: 260px;
  margin: 15px auto;
  background: url('../images/ROOMSbook_OFF.png') no-repeat;
}

#rooms_booknow:hover {
  background: url('../images/ROOMSbook_ON.png') no-repeat;
}

#rooms_bottomleft {
  height: 615px;
  width: 337px;
  position: absolute;
  top: 1122px;
  left: -205px;
  background: url('../images/bottomLEFT.png') no-repeat;
  z-index: -1;
}

#rooms_bottomright {
  height: 1673px;
  width: 1612px;
  position: absolute;
  top: 410px;
  right: -490px;
  background: url('../images/bottomRIGHT.png') no-repeat;
  z-index: -1;
}

#mobile_rooms {
  display: none;
}

@media screen and (max-width: 680px) {
  #rooms_wrapper, .subfooter, #navwrapper {
    display: none;
  }

  #mobile_rooms {
    width: 100%;
    display: block;
    text-align: center;
  }

  .rooms_body_header {
    width: 95%;
    height: auto;
    display: block;
    margin: 3% auto;
  }

  .rooms_davinci {
    width: 100%;
    height: auto;
    display: block;
    margin-top: 15px;
  }

  .rooms_davinci_icons {
    width: 95%;
    text-align: center;
  }

  #rooms_text {
    text-align: justify;
  }
}

/* BOOKING */
#booking_header {
  height: 75px;
  width: 390px;
  margin: 100px auto 25px auto;
  padding-top: 35px;
  background: url('../images/DS-LINES_2points-01.png') no-repeat, url('../images/DS-LINES_2points-01.png') bottom no-repeat;
  background-size: contain;
}

#booking_body {
  height: 100vh;
  min-height: 1588px;
  width: 100%;
  min-width: 1300px;
  overflow-x: hidden; 
  background: url('../images/BOOKING.png') top center no-repeat;
}

#booking_widget {
  height: 1000px;
  width: 1000px;
  overflow-y: auto;
  padding-left: 10px;
  margin: 240px auto;
}

/* CONTACT */
#contact_wrapper {
  position: relative;
  margin-top: 85px;
  min-width: 1300px;
}

#contact_magglass {
  height: 1729px;
  width: 2001px;
  position: absolute;
  top: 0;
  left: -400px;
  overflow-x: hidden;
  background: url('../images/CONTACT_noclick.png') no-repeat;
}

#mag_facebook {
  height: 145px;
  width: 135px;
  position: absolute;
  top: 524px;
  left: 451px;
  background: url('../images/facebook_OFF.png') no-repeat;
  background-position: 0px -32px;
}

#mag_facebook:hover {
  background: url('../images/facebook_ON.png')no-repeat;
  background-position: 0px -32px;
}

#mag_twitter {
  height: 145px;
  width: 146px;
  position: absolute;
  top: 491px;
  left: 630px;
  background: url('../images/twitter_OFF.png') no-repeat;
  background-position: -180px 0px;
}

#mag_twitter:hover {
  background: url('../images/twitter_ON.png') no-repeat;
  background-position: -180px 0px;
}

#mag_instagram {
  height: 123px;
  width: 130px;
  position: absolute;
  top: 492px;
  left: 810px;
  background: url('../images/instagram_OFF.png') no-repeat;
  background-position: -363px 0px;
}

#mag_instagram:hover {
  background: url('../images/instagram_ON.png') no-repeat;
  background-position: -363px 0px;
}

#mag_phone {
  height: 70px;
  width: 183px;
  position: absolute;
  top: 717px;
  left: 630px;
  background: url('../images/phone_OFF.png') no-repeat;
  background-position: -190px -218px;
}

#mag_phone:hover {
  background: url('../images/phone_ON.png') no-repeat;
  background-position: -190px -218px;
}

#mag_email {
  height: 70px;
  width: 307px;
  position: absolute;
  top: 756px;
  left: 573px;
  background: url('../images/email_OFF.png') no-repeat;
  background-position: -131px -259px;
}

#mag_email:hover {
  background: url('../images/email_ON.png') no-repeat;
  background-position: -131px -259px;
}

#mag_address {
  height: 140px;
  width: 365px;
  position: absolute;
  top: 784px;
  left: 564px;
  background: url('../images/address_OFF.png') no-repeat;
  background-position: -110px -288px;
}

#mag_address:hover {
  background: url('../images/address_ON.png') no-repeat;
  background-position: -110px -288px;
}

#contact_mapphoto {
  height: 693px;
  width: 595px;
  position: absolute;
  top: 1019px;
  left: 200px;
  background: url('../images/CONTACT_map.png') no-repeat;
}

#contact_mapphoto_link {
  height: 693px;
  width: 595px;
  position: absolute;
  top: 1019px;
  left: 200px;
}

#contact_askcard {
  height: 373px;
  width: 447px;
  position: absolute;
  top: 990px;
  left: 675px;
  background: url('../images/CONTACT_askOFF.png') no-repeat;
}

#contact_askcard:hover {
  height: 373px;
  width: 447px;
  position: absolute;
  top: 990px;
  left: 675px;
  background: url('../images/CONTACT_askON.png') no-repeat;
}

#contact_body {
  height: 100vh;
  min-height: 1729px;
  width: 500px;
  color: white;
}

#mobile_contact {
  display: none;
}

@media screen and (max-width: 680px) {
  #header_one {
    width: 100%;
  }

  #contact_wrapper {
    display: none;
  }

  #mobile_contact {
    display: block;
    color: white;
    text-align: center;
    height: 100vh;
  }

  #mobile_contact_info {
    display: block;
    height: 75%;
    width: 100%;
    background: url('../images/CONTACT_MOBILE.png') no-repeat;
    background-size: contain;
    position: relative;
  }

  #mobile_contact_linkwrapper {
    display: block;
    width: 100%;
    height: 30%;
    position: absolute;
    top: 50%;
  }

  #mobile_contact_linkwrapper a {
    display: inline-block;
    height: 100%;
  }

  #mobile_contact_linkwrapper a:first-child, #mobile_contact_linkwrapper a:last-child {
    width: 33%;
  }

  #mobile_contact_linkwrapper a:nth-child(2) {
    width: 30%;
  }
}

/* CREDITS */
#credits_header {
  height: 75px;
  width: 390px;
  margin: 100px auto 25px auto;
  padding-top: 35px;
  background: url('../images/DS-LINES_2points-01.png') no-repeat, url('../images/DS-LINES_2points-01.png') bottom no-repeat;
  background-size: contain;
}

#credits_body {
  height: 100vh;
  text-align: center;
  line-height: 30px;
}
